*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding-top: 3rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  font-family: Montserrat;
  margin: 0rem;
  background-color: #FCFCFC;
  width: 100%;
  height: 356.25rem;
  color: #333C4F;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
}

main{
  display: flex;
  flex-direction: column;
  gap: 4.375rem;
}

.hero-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.9375rem;
  height: 43.75rem;
}

.hero-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5625rem;
  width: 55%;
}

.text-1{
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.25rem
}


.text-2{
  font-size: 2.875rem;
  font-weight: 900;
  line-height: 3.5669rem;
}

span{
  color: #479CFC;
}

.text-3{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.text-4{
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #479CFC;
  margin-top: 1.25rem;
}

.prep-button{
  width: 17.3125rem;
  height: 3.125rem;
  border-radius: 2.5rem;
  background-color: rgb(50, 59, 78);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1.4375rem;
  gap: 1.4375rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
  cursor: pointer;
}

.arrow-small-right{
  width: 1.5rem;
  height: 1.5rem;
}

.tooltip{
  color: #FFF;
  font-size: 0.75rem;
  line-height: 0.9144rem;
  font-weight: 700;
}

.img-background{
  background-color: #479CFC;
  width: 650px;
  height: 920px;
  position: absolute;
  right: 0;
  top: 0;
}

.hr-img{
  position: relative;
  width: 40.625rem;
  height: 57.5rem;
}

.hero-img{
  justify-content: center;
  width: 37.5rem;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 1.75rem;
}

.winterfest-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 18.75rem;
  padding-right: 2.5rem;
  margin-top: 2.5rem;
}

.winterfest-text{
  width: 54.5%;
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
}

.text-5{
  font-size: 2.875rem;
  font-weight: 900;
}
.text-6{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.people-images{
  width: 35%;
  height: 100%;
  color: #FFF;
  gap: 1.25rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  right: 0;
}

.box-images{
  width: 100%;
}

.box-1{
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  border-radius: 1.875rem;
}

.box-img{
  width: 100%;
}

.box-2{
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 2/3;
  border-radius: 1.875rem;
}

.box-3{
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  grid-column: 1/2;
  border-radius: 1.875rem;
}

.box-4{
  width: 100%;
  height: 100%;
  grid-row: 2/3;
  grid-column: 2/3;
  border-radius: 1.875rem;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 30rem;
  width: 100%;
  gap: 1.25rem;
}

.card-1{
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: white;
  height: 100%;
  border-radius: 1.875rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F29;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.625rem;
  gap: 1.5625rem;
  position: relative;
}

.card-2{
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: white;
  height: 100%;
  border-radius: 1.875rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F29;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.625rem;
  gap: 1.5625rem;
  position: relative;
}

.card-3{
  grid-row: 1/2;
  grid-column: 3/4;
  background-color: white;
  height: 100%;
  border-radius: 1.875rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F29;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.625rem;
  gap: 1.5625rem;
  position: relative;
}

.card-4{
  grid-row: 1/2;
  grid-column: 4/5;
  background-color: white;
  height: 100%;
  border-radius: 1.875rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F29;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.625rem;
  gap: 1.5625rem;
  position: relative;
}

.icon-img{
  width: 6.4375rem;
  height: 5.4375rem;
}

.icon-img-2{
  width: 6.25rem;
  height: 5.75rem;
}

.icon-img-3{
  width: 6.5625rem;
  height: 5.75rem;
}

.icon-img-4{
  width: 6.125rem;
  height: 5.75rem;
}

.p{
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
}

.p-1{
  font-weight: 700;
  font-size: 1.25rem;
  color: #333C4F;
}

.p-2{
  font-weight: 700;
  font-size: 0.625rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #9697AB;
}

.p-3{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
}

.go-to-btn{
  background-color: #479CFC;
  box-shadow: 0 0.25rem 0.5625rem 0 #333C4F3B;
  width: 3.5625rem;
  height: 3.5625rem;
  border-radius: 1.7813rem;
  border: none;
  position: absolute;
  bottom: 1.25rem;
  cursor: pointer;
}

.arrow-big-right{
  width: 3.5625rem;
  height: 3.5625rem;
}

.discount-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 1.875rem;
  background-color: #333C4F;
  height: 29.9375rem;
  position: relative;
  margin-top: 6.25rem;
  border-radius: 2.5rem;
  padding: 0 0.9375rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F29;
}

.discount-img{
  grid-row: 1/2;
  grid-column: 1/2;
  width: 34.125rem;
  height: 36.8125rem;
  position: absolute;
  bottom: 0;
}

.discount-text{
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: #FFF;
  padding-right: 20px;
}

.t-1{
  font-weight: 700;
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.2062rem;
}

.t-2{
  font-weight: 900;
  font-size: 2.625rem;
  line-height: 3.5044rem;
}

.t-2-span{
  font-size: 3.75rem;
}

.discount-button{
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 2.5rem;
  background-color: #479CFC;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.9375rem;
  gap: 1.4375rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
  cursor: pointer;
}

.upcoming-fleet{
  font-size: 2.875rem;
  font-weight: 900;
  color: #333C4F;
}

.fleet-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1.25rem;
  row-gap: 1.875rem;
}

.fleet-1{
  grid-row: 1/2;
  grid-column: 1/3;
  height: 18.625rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.231);
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.625rem;
  position: relative;
}

.fleet-1-a{
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 1.3125rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.fleet-1-b{
  grid-row: 1/2;
  grid-column: 2/3;
  width: 100%;
  height: 100%;
  position: absolute;
}

.fleet-2-b{
  width: 100%;
  height: 100%;
}

.hanger{
    width: 6.125rem;
    width: 6.125rem;
    position: absolute;
    top: 1.3125rem;
}

.fest-line-text{
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
  position: absolute;
  top: 8.75rem;
}

.fest-line{
  font-size: 0.625rem;
  font-weight: 700;
  color: #9697AB;
  letter-spacing: 0.1rem;
}

.fest-line-2{
  font-size: 2rem;
  font-weight: 700;
  color: #333C4F;
}

.fest-line-btn{
  background-color: #479CFC;
  box-shadow: 0 0.25rem 0.5625rem 0 #333C4F3B;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 1.375rem;
  border: none;
  bottom: 1.25rem;
  position: absolute;
  bottom: 1.5625rem;
  cursor: pointer;
}

.fest-line-arrow{
  width: 2.3638rem;
  height: 2.3638rem;
}

.fleet-2{
  grid-row: 1/2;
  grid-column: 3/4;
  height: 18.625rem;
  border-radius: 2.5rem;
  background-color: #FFFFFF;
}

.fleet-3{
  grid-row: 1/2;
  grid-column: 4/5;
  height: 18.625rem;
  border-radius: 2.5rem;
  background-color: #FFFFFF;
}

.fleet-4{
  grid-row: 2/3;
  grid-column: 1/2;
  height: 18.625rem;
  border-radius: 2.5rem;
  background-color: #FFFFFF;
}

.fleet-5{
  grid-row: 2/3;
  grid-column: 2/3;
  height: 18.625rem;
  border-radius: 2.5rem;
  background-color: #FFFFFF;
}

.fleet-6{
  grid-row: 2/3;
  grid-column: 3/6;
  height: 18.625rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.231);
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.625rem;
  position: relative;
}

.fleet-1-a6{
  grid-row: 1/2;
  grid-column: 2/3;
  padding: 1.3125rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.fleet-1-b6{
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.fleet-7{
  grid-row: 3/4;
  grid-column: 1/3;
  height: 18.625rem;
  border-radius: 2.5rem;
  box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.231);
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.625rem;
  position: relative;
}

.fleet-8{
  grid-row: 3/4;
  grid-column: 3/4;
  height: 18.625rem;
  border-radius: 2.5rem;
  background-color: #FFFFFF;
}

.fleet-9{
  grid-row: 3/4;
  grid-column: 4/5;
  height: 18.625rem;
  border-radius: 2.5rem;
  background-color: #FFFFFF;
}

.venue-card{
  height: 25.1875rem;
  border-radius: 2.5rem;
  padding: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 3.125rem;
  position: relative;
  background: linear-gradient(#333C4FA1, #333C4FA1), url('../images/bg.jpeg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
}

.venue-text-1{
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.3125rem;
  color: #FFF;
  text-transform: uppercase;
}

.venue-text-2{
  font-size: 3.875rem;
  font-weight: 900;
  color: #FFF;
}

.venue-text-3{
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #FFF;
}

.venue-button{
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 2.5rem;
  background-color: #479CFC;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.9375rem;
  gap: 0.9375rem;
  position: absolute;
  right: 3.75rem;
  top: 5.625rem;
  cursor: pointer;
}

.spot-card{
  height: 63rem;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
  border-radius: 2.5rem;
  margin-bottom: 4.125rem;
}

.spot-card-1{
  height: 19.3125rem;
  width: 100%;
  background-color: #333C4F;
  border-radius: 2.5rem;
  padding: 5.625rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.spot-card-1a{
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: #FFFFFF;
}

.spot-card-1b{
  font-size: 4rem;
  font-weight: 900;
  color: #FFFFFF;
}

.vector{
  position: absolute;
  right: 6.25rem;
  height: 5.9944rem;
}

.spot-card-2{
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
  padding: 5rem 7rem;
  width: 100%;
}

.divided{
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  width: 100%;
}

.spot-card-2a{
  width: 50%;
  height: 4.625rem;
  border: 0.125rem solid #333C4F;
  border-radius: 2.5rem;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
}

.T1{
  font-size: 0.625rem;
  font-weight: 700;
  color: #9697AB;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.form{
  font-family: Montserrat;
  font-size: 1.25rem;
  border-style: none;
  outline: none;
  border-radius: 0.125rem;
  width: 100%;
  color: #333C4F;
}

.form::placeholder{
  font-size: 1.25rem;
  font-weight: 400;
  color: #333C4F;
  opacity: 0.8;
}

.spot-card-2b{
  width: 100%;
  height: 4.625rem;
  border: 0.125rem solid #333C4F;
  border-radius: 2.5rem;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;
  justify-content: center;
}

.spot-button{
  margin-top: 1.5625rem;
  width: 13.75rem;
  height: 3.125rem;
  border-radius: 2.5rem;
  background-color: #479CFC;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 0.9375rem;
  gap: 1.4375rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
  position: relative;
}

.arrow-spot{
  position: absolute;
  left: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
}


@media (max-width: 26.75rem) {

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    padding: 2.625rem 1.25rem;
    font-family: Montserrat;
    margin: 0rem;
    background-color: #FCFCFC;
    width: 100%;
    height: 393.25rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
  }

  .hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6875rem;
    height: auto;
  }
  
  .hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5625rem;
    width: 100%;
  }
  
  .text-1{
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.2188rem
  }
  
  
  .text-2{
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 2.2813rem;
  }
  
  span{
    color: #479CFC;
  }
  
  .text-3{
    padding: 0 4.4375rem;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 0.3125rem;
    margin-bottom: 1.375rem;
    line-height: 1.5237rem;
  }
  
  .text-4{
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.2188rem;
    color: #479CFC;
    margin-top: 0.75rem;
  }
  
  .prep-button{
    width: 17.3125rem;
    height: 3.125rem;
    border-radius: 2.5rem;
    background-color: rgb(50, 59, 78);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1.4375rem;
    gap: 1.4375rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
    cursor: pointer;
  }
  
  .arrow-small-right{
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .tooltip{
    color: #FFF;
    font-size: 0.75rem;
    line-height: 0.9144rem;
    font-weight: 700;
  }
  
  .img-background{
    display: none;
  }

  
  .winterfest-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    gap: 2.5rem;
    padding: 0;
    margin-top: 0.8125rem;
  }
  
  .winterfest-text{
    gap: 1.125rem;
    grid-row: 1/2;
    grid-column: 1/1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .text-5{
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.4381rem;
  }
  .text-6{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
  
  .people-images{
    grid-row: 2/3;
    grid-column: 1/1;
    width: 100%;
    height: auto;
    color: #FFF;
    row-gap: 0.9375rem;
    column-gap: 0.75rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .box-images{
    width: 100%;
    height: auto;
  }
  
  .box-1{
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    border-radius: 1.875rem;
  }
  
  .box-img{
    width: 100%;
  }
  
  .box-2{
    width: 100%;
    height: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    border-radius: 1.875rem;
  }
  
  .box-3{
    width: 100%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 1/2;
    border-radius: 1.875rem;
  }
  
  .box-4{
    width: 100%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    border-radius: 1.875rem;
  }
  
  .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1.9375rem;
  }
  
  .card-1{
    width: 100%;
    background-color: white;
    height: 29.375rem;
    border-radius: 1.875rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F29;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.9375rem;
    padding-top: 1.75rem;
    gap: 1.5625rem;
    position: relative;
  }
  
  .card-2{
    background-color: white;
    height: 29.375rem;
    border-radius: 1.875rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F29;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.9375rem;
    padding-top: 1.75rem;
    gap: 1.5625rem;
    position: relative;
  }
  
  .card-3{
    background-color: white;
    height: 29.375rem;
    border-radius: 1.875rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F29;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.9375rem;
    padding-top: 1.75rem;
    gap: 1.5625rem;
    position: relative;
  }
  
  .card-4{
    background-color: white;
    height: 29.375rem;
    border-radius: 1.875rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F29;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.9375rem;
    padding-top: 1.75rem;
    gap: 1.5625rem;
    position: relative;
  }
  
  .icon-img{
    width: 6.4375rem;
    height: 5.4375rem;
  }
  
  .icon-img-2{
    width: 6.25rem;
    height: 5.75rem;
  }
  
  .icon-img-3{
    width: 6.5625rem;
    height: 5.75rem;
  }
  
  .icon-img-4{
    width: 6.125rem;
    height: 5.75rem;
  }
  
  .p{
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
  }
  
  .p-1{
    font-weight: 700;
    font-size: 1.25rem;
    color: #333C4F;
  }
  
  .p-2{
    font-weight: 700;
    font-size: 0.625rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #9697AB;
  }
  
  .p-3{
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #000000;
  }
  
  .go-to-btn{
    background-color: #479CFC;
    box-shadow: 0 0.25rem 0.5625rem 0 #333C4F3B;
    width: 3.5625rem;
    height: 3.5625rem;
    border-radius: 1.7813rem;
    border: none;
    position: absolute;
    bottom: 2.5rem;
    cursor: pointer;
  }
  
  .arrow-big-right{
    width: 3.0625rem;
    height: 3.0625rem;
  }
  
  .discount-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333C4F;
    height: 24.25rem;
    margin-top: 0;
    border-radius: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F29;
  }
  
  .discount-img{
    display: none;
  }
  
  .discount-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding-right: 0;
    gap: 2.5rem;
  }
  
  .t-1{
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 0.9144rem;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    padding: 0 4.2813rem;
  }
  
  .t-2{
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 2.7425rem;
  }
  
  .t-2-span{
    font-size: 2.25rem;
  }
  
  .discount-button{
    width: 13.75rem;
    height: 3.125rem;
    border-radius: 2.5rem;
    background-color: #479CFC;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.9375rem;
    gap: 1.4375rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
    cursor: pointer;
  }
  
  .upcoming-fleet{
    font-size: 2rem;
    font-weight: 900;
    color: #333C4F;
  }
  
  .fleet-cards{
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 1.5rem;
  }
  
  .fleet-1{
    width: 24.25rem;
    height: 11.4375rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.231);
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    padding-left: 1.375rem;
  }
  
  .fleet-1-a{
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .fleet-1-b{
    grid-row: 1/2;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .fleet-2-b{
    width: 100%;
    height: 100%;
  }
  
  .hanger{
      width: 3.0625rem;
      width: 3.0625rem;
      position: absolute;
      top: 0.875rem;
  }
  
  .fest-line-text{
    display: flex;
    flex-direction: column;
    gap: 0.1875rem;
    position: absolute;
    top: 4.75rem;
  }
  
  .fest-line{
    font-size: 0.625rem;
    font-weight: 700;
    color: #9697AB;
    letter-spacing: 0.1rem;
  }
  
  .fest-line-2{
    font-size: 1.25rem;
    font-weight: 700;
    color: #333C4F;
  }
  
  .fest-line-btn{
    background-color: #479CFC;
    box-shadow: 0 0.25rem 0.5625rem 0 #333C4F3B;
    width: 1.835rem;
    height: 1.835rem;
    border-radius: 1.375rem;
    border: none;
    bottom: 1.54rem;
    position: absolute;
    cursor: pointer;
  }
  
  .fest-line-arrow{
    width: 1.5775rem;
    height: 1.5775rem;
  }
  
  .fleet-2{
    display: none;
  }
  
  .fleet-3{
    display: none;
  }
  
  .fleet-4{
    display: none;
  }
  
  .fleet-5{
    display: none;
  }
  
  .fleet-6{
    width: 24.25rem;
    height: 11.4375rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.231);
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    padding-right: 0;
  }
  
  .fleet-1-a6{
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 1.3125rem 2.1875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .fleet-1-b6{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .fleet-7{
    width: 24.25rem;
    height: 11.4375rem;
    border-radius: 2.5rem;
    box-shadow: 0 0.25rem 1rem 0 rgba(51, 60, 79, 0.231);
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0;
    padding-left: 1.375rem;
  }
  
  .fleet-8{
    display: none;
  }
  
  .fleet-9{
    display: none;
  }
  
  .venue-card{
    width: 24.25rem;
    height: 35.0625rem;
    border-radius: 2.5rem;
    padding-left: 1.1875rem;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background: linear-gradient(#333C4FA1, #333C4FA1), url('../images/bg.jpeg');
    background-position: center;
    background-size: cover;
    box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
  }
  
  .venue-text-1{
    position: absolute;
    top: 7.6875rem;
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.1875rem;
    color: #FFF;
    text-transform: uppercase;
  }
  
  .venue-text-2{
    position: absolute;
    top: 9.8125rem;
    font-size: 2rem;
    font-weight: 900;
    color: #FFF;
    padding-right: 4.75rem;
    line-height: 2.4381rem;
  }
  
  .venue-text-3{
    position: absolute;
    top: 16.0625rem;
    right: 1.3125rem;
    left: 1.1875rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #FFF;
  }
  
  .venue-button{
    width: 13.75rem;
    height: 3.125rem;
    border-radius: 2.5rem;
    background-color: #479CFC;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.9375rem;
    gap: 0.9375rem;
    position: absolute;
    top: 2.875rem;
    left: 1.1875rem;
    cursor: pointer;
  }
  
  .spot-card{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    height: 55.5rem;
    width: 23.6875rem;
    background-color: #FFFFFF;
    box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
    border-radius: 2.5rem;
    margin-bottom: 4.125rem;
  }
  
  .spot-card-1{
    height: 11.0625rem;
    width: 23.6875rem;
    background-color: #333C4F;
    border-radius: 2.5rem;
    padding: 2.3125rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.875rem;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }
  
  .spot-card-1a{
    font-size: 0.625rem;
    font-weight: 700;
    letter-spacing: 0.2062rem;
    line-height: 0.7619rem;
    color: #FFFFFF;
    padding: 0 4.375rem;
  }
  
  .spot-card-1b{
    font-size: 2.5rem;
    font-weight: 900;
    color: #FFFFFF;
    padding: 0 1.875rem;
  }
  
  .vector{
    display: none;
  }
  
  .spot-card-2{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    padding: 0 1.25rem;
    width: 100%;
  }
  
  .divided{
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    width: 100%;
  }
  
  .spot-card-2a{
    width: 100%;
    height: 4.625rem;
    border: 0.125rem solid #333C4F;
    border-radius: 2.5rem;
    padding-left: 1.3125rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: flex-start;
    justify-content: center;
  }
  
  .T1{
    font-size: 0.4375rem;
    font-weight: 700;
    color: #9697AB;
    letter-spacing: 0.075rem;
    line-height: 0.5331rem;
    text-transform: uppercase;
  }
  
  .form{
    font-family: Montserrat;
    font-size: 1.25rem;
    border-style: none;
    outline: none;
    border-radius: 0.125rem;
    width: 100%;
    color: #333C4F;
  }
  
  .form::placeholder{
    font-size: 1.25rem;
    font-weight: 400;
    color: #333C4F;
    opacity: 0.8;
  }
  
  .spot-card-2b{
    width: 100%;
    height: 4.625rem;
    border: 0.125rem solid #333C4F;
    border-radius: 2.5rem;
    padding-left: 1.3125rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: flex-start;
    justify-content: center;
  }
  
  .spot-button{
    margin-top: 0;
    width: 21.25rem;
    height: 4rem;
    border-radius: 2.5rem;
    background-color: #479CFC;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0.9375rem;
    gap: 1.4375rem;
    box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
    position: relative;
  }
  
  .arrow-spot{
    position: absolute;
    left: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

