header{
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
  z-index: 1;
  margin-bottom: 1.25rem;
}

p{
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.0669rem;
}

.Logo-Vector{
  width: 11.6875rem;
  height: 4.625rem;
}

.center-section{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: Montserrat;
}

.hamburger-div{
  display: none;
}

.hamburger{
  display: none;
}

.book-button{
  width: 13.9375rem;
  height: 3.125rem;
  border-radius: 2.5rem;
  background-color: #333C4F;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.9375rem;
  box-shadow: 0 0.25rem 1rem 0 #333C4F5C;
  cursor: pointer;
  justify-content: space-evenly;
  position: relative;
}

.arrow-book{
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0.75rem;
}

.tooltip{
  color: #FFF;
  font-size: 0.75rem;
  line-height: 0.9144rem;
  font-weight: 700;
}

@media (max-width: 428px) {

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5.625rem;
  }
  
  .Logo-Vector{
    width: 8.75rem;
    height: 3.5rem;
  }
  
  .center-section{
    display: none;
  }

  .hamburger-div{
    width: 44px;
    height: 32px;
    display: inline-block;
  }
  
  .hamburger{
    width: 44px;
    height: 32px;
    display: inline-block;
  }

  .book-button{
    display: none;
  }

  .right-section{
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
  }

}
